* {
  box-sizing: border-box;
}
body {
  background-color: #000;
}
div {
  font-family: monospace;
  color: white;
  font-size: 40px;
  text-align: center;
  background-color: #000;
}
#muteButton {
  font-size: 30px;
}
.hidden {
  display: none;
}
canvas {
  border: 1px solid rgba(171,0,186,1);
}
