* {
  box-sizing: border-box;
}
body {
  background-color: #000;
}

div {
  font-family: monospace;
  color: white;
  font-size: 40px;
  text-align: center;
  background-color: #000;
}
#muteButton {
  font-size: 30px;
}
.hidden {
  display: none;
}
canvas {
  border: 1px solid rgba(171,0,186,1);
}

.buttonStyle{
  /* display:inline-block; */
  margin: 0 auto;
  position:relative;
  padding:0.5em;
  cursor:pointer;
  background:#000;  color:white;
  z-index:0;

  border-color: rgba(171,0,186,1);
  border-left-style: solid;
  border-width: 10px;

  width: 50%;

}

.buttonStyle:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: rgba(224, 147, 231, 0.46);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease-out;
}

.buttonStyle:hover:before{
  transform: scaleX(1);
}

.buttonStyle:active{
  background: rgba(193, 54, 235, 0.66);
}

.lore3img{
  position: absolute;
}

.lore{
  margin: auto;
  width: 50%;
}

.loreText{
  font-size: 25px;
  margin: auto;
  width: 75%;
}

.greyBackground {
  background-color: #222;
  height: 100%;
  padding-bottom: 100px;
}
